## Import dependencies

In [63]:
!pip install simple_salesforce

Requirement already satisfied: simple_salesforce in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (1.1.0)
Requirement already satisfied: authlib in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (from simple_salesforce) (0.14.3)
Requirement already satisfied: requests>=2.22.0 in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (from simple_salesforce) (2.22.0)
Requirement already satisfied: cryptography in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (from authlib->simple_salesforce) (2.7)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.22.0->simple_salesforce) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.22.0->simple_salesforce) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.22.0->simple_salesforce) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.22.0->simple_salesforce) (2.8)
Requirement already satisfied: six>=1.4.1 in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (from cryptography->authlib->simple_salesforce) (1.12.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (from cryptography->authlib->simple_salesforce) (1.12.3)
Requirement already satisfied: asn1crypto>=0.21.0 in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (from cryptography->authlib->simple_salesforce) (1.0.1)
Requirement already satisfied: pycparser in /Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages (from cffi!=1.11.3,>=1.8->cryptography->authlib->simple_salesforce) (2.19)

In [75]:
import json
from sqlalchemy import create_engine
import pandas as pd
import pymysql
#import lambda
pymysql.install_as_MySQLdb()
from simple_salesforce import Salesforce

## Import configuration variables

In [76]:
# import sys
# sys.path.append('../../../../')
from config import sf_username, sf_password, sf_security_token
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd

## Set up `simple_salesforce`

Pass in the username, password, and security token here. The security token contains information about your org.

In [77]:
from simple_salesforce import Salesforce
sf = Salesforce(username=sf_username, password=sf_password, security_token=sf_security_token)

## Connect to your MySQL database

In [78]:
engine = create_engine(f"mysql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
conn = engine.connect()

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages/pymysql/connections.py", line 691, in _read_bytes
    data = self._rfile.read(num_bytes)
  File "/Users/heatherjanemoore/opt/anaconda3/lib/python3.7/socket.py", line 589, in readinto
    return self._sock.recv_into(b)
TimeoutError: [Errno 60] Operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/pool/base.py", line 680, in _finalize_fairy
    fairy._reset(pool)
  File "/Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/pool/base.py", line 867, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/dialects/mysql/base.py", line 2253, in do_rollback
    dbapi_connection.rollback()
  File "/Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages/pymysql/connections.py", line 430, in rollback
    self._read_ok_packet()
  File "/Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages/pymysql/connections.py", line 394, in _read_ok_packet
    pkt = self._read_packet()
  File "/Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages/pymysql/connections.py", line 657, in _read_packet
    packet_header = self._read_bytes(4)
  File "/Users/heatherjanemoore/opt/anaconda3/lib/python3.7/site-packages/pymysql/connections.py", line 699, in _read_bytes
    "Lost connection to MySQL server during query (%s)" % (e,))
pymysql.err.OperationalError: (2013, 'Lost connection to MySQL server during query ([Errno 60] Operation timed out)')

## Query Data

In [79]:
course_data = pd.read_sql("SELECT * FROM course", conn)
course_data.head(30)

,ID_Course,CourseCode,CourseName,CreditHours,BootCampCourse
0,1,BC-DATAVIZ,Data Visualization and Analytics,12,1
1,2,BC-WEBDEV,Full Stack Web Development,12,1
2,3,BC-UIUX,User Interface/User Experience,12,1
3,4,CIS-349,Introduction to Databases,5,0
4,5,CIS-405,Database Programming,5,0
5,6,CIS-438,Database Administration,5,0
6,7,CIS-430,Business Systems Programming I,5,0
7,8,CIS-435,Business Systems Programming II,5,0

## Transform Data

In [8]:
course_data = course_data.rename(columns={'ID_Course__c':'ID_Course',
                                          'CourseCode__c':'CourseCode',
                                         'CreditHours__c':'CreditHours'})
course_data.head()

,ID_Course,CourseCode,CourseName,CreditHours,BootCampCourse
0,1,BC-DATAVIZ,Data Visualization and Analytics,12,1
1,2,BC-WEBDEV,Full Stack Web Development,12,1
2,3,BC-UIUX,User Interface/User Experience,12,1
3,4,CIS-349,Introduction to Databases,5,0
4,5,CIS-405,Database Programming,5,0

In [29]:
course_data.to_csv('course.csv')

In [14]:
course_load_df = course_data[['ID_Course','CourseCode','CreditHours']]
course_load_df.head(10)

   ID_Course  CourseCode  CreditHours
0          1  BC-DATAVIZ           12
1          2   BC-WEBDEV           12
2          3     BC-UIUX           12
3          4     CIS-349            5
4          5     CIS-405            5
5          6     CIS-438            5
6          7     CIS-430            5
7          8     CIS-435            5

## Convert DataFrame to a list of dictionaries 

This can help facilitate a bulk insert

In [15]:
course_load = course_load_df.to_dict('records')
course_load

[{'ID_Course': 1, 'CourseCode': 'BC-DATAVIZ', 'CreditHours': 12},
 {'ID_Course': 2, 'CourseCode': 'BC-WEBDEV', 'CreditHours': 12},
 {'ID_Course': 3, 'CourseCode': 'BC-UIUX', 'CreditHours': 12},
 {'ID_Course': 4, 'CourseCode': 'CIS-349', 'CreditHours': 5},
 {'ID_Course': 5, 'CourseCode': 'CIS-405', 'CreditHours': 5},
 {'ID_Course': 6, 'CourseCode': 'CIS-438', 'CreditHours': 5},
 {'ID_Course': 7, 'CourseCode': 'CIS-430', 'CreditHours': 5},
 {'ID_Course': 8, 'CourseCode': 'CIS-435', 'CreditHours': 5}]

In [ ]:
#course_data.to_csv('course.csv')

## Example of inserting rows individually - Course Data

Loop through the DataFrame and assemble indiviudal dictionaries

In [80]:
for index, row in course_data.iterrows():
    record = {
        'ID_Course__c': row['ID_Course'],
        'CourseCode__c': row['CourseCode'],
        'CreditHours__c':row['CreditHours'],
        'BootCampCourse__c':row['BootCampCourse']
    }
    try:
        sf.Course__c.create(record)
    except Exception as e:
        print(e)

## Example of inserting rows in bulk

In [ ]:
#try:
#    sf.bulk.Lead.insert(course_load)
#except Exception as e:
#    print(e)

## Now the staff data

In [35]:
staff_data = pd.read_sql("SELECT * FROM staff", conn)
staff_data.head(30)

   ID_Staff EmployeeID  LastName  FirstName MiddleName   BirthDate
0         1  000184220  Wimberly        Sam       Nico  1995-07-05
1         2  000130109   Sanford     Gemini      Blair  1992-04-22
2         3  000160655  Williams  Dartanion  De Angelo  1993-05-21
3         4  000159108   Popelka      Sarah      Nisan  1994-06-07

In [36]:
staff_data.to_csv('course.csv')

## Convert the dates to push data

In [ ]:
staff_data['Birth_Date'] = staff_data['BirthDate'].apply(lambda x: x.strftime('%Y-%m-%d')) 
staff_data=staff_data[['ID_Staff','EmployeeID','LastName','FirstName','MiddleName','BirthDate']]
staff_data

In [ ]:
#for index, row in staff_data.iterrows():
    record = {
        'ID_Staff__c': row['ID_Staff'],
        'EmployeeID__c': row['EmployeeID'],
        'LastName__c':row['LastName'],
        'FirstName__c':row['FirstName'],
        'MiddleName__c':row['MiddleName'],
    }
    try:
        sf.Staff__c.create(record)
    except Exception as e:
        print(e)

## Now the class data

In [41]:
class_data = pd.read_sql("SELECT * FROM class", conn)
class_data.head(30)

   ID_Class  ID_Course               Section   StartDate     EndDate
0         1          1  GWU-ARL-DATA-PT-09-0  2020-03-16  2020-03-14
1         2          1       GWDC201805DATA3  2018-05-15  2018-11-08
2         3          2       GWARL201905WEB3  2019-05-14  2019-11-07
3         4          3      GWARL201905UIUX3  2019-05-14  2019-11-07

In [19]:
class_data['StartDate'] = class_data['StartDate'].apply(lambda x: x.strftime('%Y-%m-%d')) 
class_data['EndDate'] = class_data['EndDate'].apply(lambda x: x.strftime('%Y-%m-%d')) 
class_data=class_data[['ID_Class','ID_Course','Section','StartDate','EndDate']]
class_data

   ID_Class  ID_Course               Section   StartDate     EndDate
0         1          1  GWU-ARL-DATA-PT-09-0  2020-03-16  2020-03-14
1         2          1       GWDC201805DATA3  2018-05-15  2018-11-08
2         3          2       GWARL201905WEB3  2019-05-14  2019-11-07
3         4          3      GWARL201905UIUX3  2019-05-14  2019-11-07

In [42]:
class_data.to_csv('class.csv')

## Query for ID code in salesforce to upload

In [23]:
sf_staff_records = sf.query("SELECT id, name, CourseName__c, ID_Course__c FROM Course__c")
classdict = {}
for x in sf_staff_records['records']:
    classdict[x['ID_Course__c']] = {'name': x['CourseName__c'], 'id':x['Id']}

SalesforceMalformedRequest: Malformed request https://na111.salesforce.com/services/data/v42.0/query/?q=SELECT+id%2C+name%2C+CourseName__c%2C+ID_Course__c+FROM+Course__c. Response content: [{'message': "\nSELECT id, name, CourseName__c, ID_Course__c FROM Course__c\n                                ^\nERROR at Row:1:Column:33\nNo such column 'ID_Course__c' on entity 'Course__c'. If you are attempting to use a custom field, be sure to append the '__c' after the custom field name. Please reference your WSDL or the describe call for the appropriate names.", 'errorCode': 'INVALID_FIELD'}]

In [24]:
class_data['StartDate'] = class_data['StartDate'].apply(lambda x: x.strftime('%Y-%m-%d'))
class_data['EndDate'] = class_data['EndDate'].apply(lambda x: x.strftime('%Y-%m-%d')) 
print(class_data)

AttributeError: 'str' object has no attribute 'strftime'

In [ ]:
for index, row in class_data.iterrows():
    record = {"ID_Class__c": row["ID_Class"],
              "ID_Course__c": classdict[row["ID_Course"]]['id'],
              "Section__c": row["Section"],
              "StartDate__c": row["StartDate"],
              "EndDate__c": row["EndDate"]}
    try:
        sf.class__c.create(record)
    except Exception as e:
        print(e)

In [22]:
for index, row in class_data.iterrows():
    record = {
        'ID_Class__c': row['ID_Class'],
        'ID_Course__c': row['ID_Course'],
        'Section__c':row['Section'],
        'StartDate__c':row['StartDate'],
        'EndDate__c':row['EndDate']
    }
    try:
        sf.Class__c.create(record)
    except Exception as e:
        print(e)

Malformed request https://na111.salesforce.com/services/data/v42.0/sobjects/Class__c/. Response content: [{'message': 'ID_Course: id value of incorrect type: 1', 'errorCode': 'MALFORMED_ID', 'fields': ['ID_Course__c']}]
Malformed request https://na111.salesforce.com/services/data/v42.0/sobjects/Class__c/. Response content: [{'message': 'ID_Course: id value of incorrect type: 1', 'errorCode': 'MALFORMED_ID', 'fields': ['ID_Course__c']}]
Malformed request https://na111.salesforce.com/services/data/v42.0/sobjects/Class__c/. Response content: [{'message': 'ID_Course: id value of incorrect type: 2', 'errorCode': 'MALFORMED_ID', 'fields': ['ID_Course__c']}]
Malformed request https://na111.salesforce.com/services/data/v42.0/sobjects/Class__c/. Response content: [{'message': 'ID_Course: id value of incorrect type: 3', 'errorCode': 'MALFORMED_ID', 'fields': ['ID_Course__c']}]

## Now the class participant data

In [58]:
participant_data = pd.read_sql("SELECT * FROM classparticipant", conn)
participant_data.head(10)

   ID_ClassParticipant  ID_Student  ID_Class   StartDate EndDate
0                    1          33         1  2020-03-16    None
1                    2          34         1  2020-03-16    None
2                    3          35         1  2020-03-16    None
3                    4          62         1  2020-03-16    None
4                    5          36         1  2020-03-16    None
5                    6          37         1  2020-03-16    None
6                    7          38         1  2020-03-16    None
7                    8          39         1  2020-03-16    None
8                    9          40         1  2020-03-16    None
9                   10          41         1  2020-03-16    None

In [17]:
#participant_data['StartDate'] = participant_data['StartDate'].apply(lambda x: x.strftime('%Y-%m-%d')) 
#participant_data['EndDate'] = participant_data['EndDate'].apply(lambda x: x.strftime('%Y-%m-%d')) 
participant_data=participant_data[['ID_ClassParticipant','ID_Student','ID_Class','StartDate','EndDate']]
participant_data.head(10)

   ID_ClassParticipant  ID_Student  ID_Class   StartDate EndDate
0                    1          33         1  2020-03-16    None
1                    2          34         1  2020-03-16    None
2                    3          35         1  2020-03-16    None
3                    4          62         1  2020-03-16    None
4                    5          36         1  2020-03-16    None
5                    6          37         1  2020-03-16    None
6                    7          38         1  2020-03-16    None
7                    8          39         1  2020-03-16    None
8                    9          40         1  2020-03-16    None
9                   10          41         1  2020-03-16    None

In [48]:
participant_data.to_csv('participant.csv')

In [20]:
for index, row in participant_data.iterrows():
    record = {
        'ID_ClassParticipant__c': row['ID_ClassParticipant'],
        'ID_Student__c': row['ID_Student'],
        'ID_Class__c':row['ID_Class'],
        'StartDate__c':row['StartDate'],
        'EndDate__c':row['EndDate']
    }
    try:
        sf.Classparticiant__c.create(record)
    except Exception as e:
        print(e)

## Now the staff assignment data

In [61]:
assignment_data = pd.read_sql("SELECT * FROM staffassignment", conn)
assignment_data.head(10)

,ID_StaffAssignment,ID_Staff,ID_Class,Role,StartDate,EndDate
0,1,1,1,Teacher Assistant,2020-03-16,None
1,2,4,1,Teacher Assistant,2020-03-16,None
2,3,3,1,Instructor,2020-03-16,None

In [62]:
assignment_data.to_csv('assignment.csv')

In [60]:
assignment_data['StartDate'] = assignment_data['StartDate'].apply(lambda x: x.strftime('%Y-%m-%d')) 
assignment_data=assignment_data[['ID_StaffAssignment','ID_Staff','ID_Class', 'Role','StartDate','EndDate']]
assignment_data.head(10)

,ID_StaffAssignment,ID_Staff,ID_Class,Role,StartDate,EndDate
0,1,1,1,Teacher Assistant,2020-03-16,None
1,2,4,1,Teacher Assistant,2020-03-16,None
2,3,3,1,Instructor,2020-03-16,None

In [26]:
for index, row in assignment_data.iterrows():
    record = {
        'ID_StaffAssignment__c': row['ID_StaffAssignment'],
        'ID_Staff__c': row['ID_Staff'],
        'ID_Class__c':row['ID_Class'],
        'Role__c':row['Role'],
        'StartDate__c':row['StartDate'],
        'EndDate__c':row['EndDate']
    }
    try:
        sf.Staffassignment__c.create(record)
    except Exception as e:
        print(e)

## Now the student data

In [53]:
student_data = pd.read_sql("SELECT * FROM student", conn)
student_data.head(10)

   ID_Student StudentID    LastName   FirstName MiddleName BirthDate Gender
0          33  25004961       Moore     Heather      Alice      None      F
1          34  25003514      Multak       Ilana    Cecille      None      F
2          35  25005833     Murillo     Jessica    Dorothy      None      F
3          36  25002589  Romanowski      Kandra  Genevieve      None      F
4          37  25007185      Hoffer   Katherine   Lynnette      None      F
5          38  25006014  Poocharoen      Pariya   Mariette      None      F
6          39  25007528    Mantrala  Sriharitha      Patty      None      F
7          40  25003778       Kelly       Carly    Raelene      None      F
8          41  25003605       Sraha  Clementine    Kendall      None      F
9          42  25002056  Abdulrahim     Jawaher     Angela      None      F

In [29]:
student_data=student_data[['ID_Student','StudentID','LastName', 'FirstName','MiddleName','BirthDate','Gender']]
student_data.head(10)

   ID_Student StudentID    LastName   FirstName MiddleName BirthDate Gender
0          33  25004961       Moore     Heather      Alice      None      F
1          34  25003514      Multak       Ilana    Cecille      None      F
2          35  25005833     Murillo     Jessica    Dorothy      None      F
3          36  25002589  Romanowski      Kandra  Genevieve      None      F
4          37  25007185      Hoffer   Katherine   Lynnette      None      F
5          38  25006014  Poocharoen      Pariya   Mariette      None      F
6          39  25007528    Mantrala  Sriharitha      Patty      None      F
7          40  25003778       Kelly       Carly    Raelene      None      F
8          41  25003605       Sraha  Clementine    Kendall      None      F
9          42  25002056  Abdulrahim     Jawaher     Angela      None      F

In [31]:
for index, row in student_data.iterrows():
    record = {
        'ID_Student__c': row['ID_Student'],
        'StudentID__c': row['StudentID'],
        'LastName__c':row['LastName'],
        'Name':row['FirstName'],
        'MiddleName__c':row['MiddleName'],
        'BirthDate__c':row['BirthDate'],
        'Gender__c':row['Gender']
    }
    try:
        sf.Student__c.create(record)
    except Exception as e:
        print(e)

## Data IDs

In [74]:
sf_participant = sf.query("SELECT id FROM Course__c")
print(sf_participant.pretty)

for row in sf_participant:
  print(row)

OrderedDict([('totalSize', 8), ('done', True), ('records', [OrderedDict([('attributes', OrderedDict([('type', 'Course__c'), ('url', '/services/data/v42.0/sobjects/Course__c/a0E3h000001KpvQEAS')])), ('Id', 'a0E3h000001KpvQEAS')]), OrderedDict([('attributes', OrderedDict([('type', 'Course__c'), ('url', '/services/data/v42.0/sobjects/Course__c/a0E3h000001KpvREAS')])), ('Id', 'a0E3h000001KpvREAS')]), OrderedDict([('attributes', OrderedDict([('type', 'Course__c'), ('url', '/services/data/v42.0/sobjects/Course__c/a0E3h000001KpvXEAS')])), ('Id', 'a0E3h000001KpvXEAS')]), OrderedDict([('attributes', OrderedDict([('type', 'Course__c'), ('url', '/services/data/v42.0/sobjects/Course__c/a0E3h000001KpvYEAS')])), ('Id', 'a0E3h000001KpvYEAS')]), OrderedDict([('attributes', OrderedDict([('type', 'Course__c'), ('url', '/services/data/v42.0/sobjects/Course__c/a0E3h000001KpvZEAS')])), ('Id', 'a0E3h000001KpvZEAS')]), OrderedDict([('attributes', OrderedDict([('type', 'Course__c'), ('url', '/services/data/v42.0/sobjects/Course__c/a0E3h000001KpvaEAC')])), ('Id', 'a0E3h000001KpvaEAC')]), OrderedDict([('attributes', OrderedDict([('type', 'Course__c'), ('url', '/services/data/v42.0/sobjects/Course__c/a0E3h000001KpvbEAC')])), ('Id', 'a0E3h000001KpvbEAC')]), OrderedDict([('attributes', OrderedDict([('type', 'Course__c'), ('url', '/services/data/v42.0/sobjects/Course__c/a0E3h000001KpvcEAC')])), ('Id', 'a0E3h000001KpvcEAC')])])])
totalSize
done
records

In [65]:
sf_participant = sf.query("SELECT id, name, CourseName__c, ID_Course__c FROM Course__c")

classdict = {}
for x in sf_participants['records']:
    classdict[x['ID_Course__c']] = {'name': x['CourseName__c'], 'id':x['Id']}

SalesforceMalformedRequest: Malformed request https://na111.salesforce.com/services/data/v42.0/query/?q=SELECT+id%2C+name%2C+CourseName__c%2C+ID_Course__c+FROM+Course__c. Response content: [{'message': "\nSELECT id, name, CourseName__c, ID_Course__c FROM\n                 ^\nERROR at Row:1:Column:18\nNo such column 'CourseName__c' on entity 'Course__c'. If you are attempting to use a custom field, be sure to append the '__c' after the custom field name. Please reference your WSDL or the describe call for the appropriate names.", 'errorCode': 'INVALID_FIELD'}]

In [ ]:
class_data['StartDate'] = class_data['StartDate'].apply(lambda x: x.strftime('%Y-%m-%d'))
class_data['EndDate'] = class_data['EndDate'].apply(lambda x: x.strftime('%Y-%m-%d')) 
print(class_data)

In [ ]:
for index, row in class_data.iterrows():
    record = {"ID_Class__c": row["ID_Class"],
              "ID_Course__c": classdict[row["ID_Course"]]['id'],
              "Section__c": row["Section"],
              "StartDate__c": row["StartDate"],
              "EndDate__c": row["EndDate"]}
    try:
        sf.class__c.create(record)
    except Exception as e:
        print(e)

## Create Course Lookup Table
You will use this later to crosswalk the course code with the primary key from the `Course` table

In [ ]:
course_lookup_list = []

# The `Name` column in the primary key in Salesforce objects
data = sf.query_all_iter("SELECT Course_Code__c, Name FROM Course__c")
for row in data:
    rec = {
        'Course__c': row['Name'],
        'Course_Code__c': row['Course_Code__c']
    }
    course_lookup_list.append(rec)

In [ ]:
urse_lookup_list = []

# The `Name` column in the primary key in Salesforce objects
data = sf.query_all_iter("SELECT Course_Code__c, Name FROM Course__c")
for row in data:
    rec = {
        'Course__c': row['Name'],
        'Course_Code__c': row['Course_Code__c']
    }
    course_lookup_list.append(rec)

In [ ]:
course_lookup_df = pd.DataFrame(course_lookup_list)
course_lookup_df

In [ ]:
query = '''
    SELECT
        c.*
        ,co.CourseCode
    FROM
        class c
        INNER JOIN course co
        ON c.ID_Course = co.ID_Course
'''
class_data_df = pd.read_sql(query, conn)
class_data_df.head()

In [ ]:
class_data_df.rename(columns={
    'Section':'Section__c',
    'StartDate':'Start_Date__c',
    'EndDate':'End_Date__c',
    'CourseCode':'Course_Code__c'
}, inplace=True)

class_data_df

## Join the Class DataFrame with the Course lookup table
This join is necessary to successfully lookup the foreign key for the Course table

In [ ]:
class_data_df = pd.merge(class_data_df, course_lookup_df, how='left')
#class_data_df.drop(columns = ['ID_Class','ID_Course','CourseName','CreditHours','BootCampCourse','Course_Code__c'], inplace=True)

class_data_df.head()

In [ ]:
class_data_df
class_data_df['Start_Date__c'] = pd.to_datetime(class_data_df['Start_Date__c']).dt.date
class_data_df['End_Date__c'] = pd.to_datetime(class_data_df['End_Date__c']).dt.date

class_data_df.head()

In [ ]:
class_data_records = class_data_df.to_dict(orient='records')
class_data_records

## Insert `Class` Records into Salesforce

In [ ]:
for rec in class_data_records:
 
    record = {
        'Course__c': rec['Course__c'],
        'Section__c': rec['Section__c'],
        'Start_Date__c': str(rec['Start_Date__c']),
        'End_Date__c': str(rec['End_Date__c']),
    }
    
    try:
        sf.Class__C.create(record)
    except Exception as e:
        print(e)